flask
gunicorn
telethon
spotipy
sqlalchemy
psycopg[binary]
requests
pypresence
# Яндекс через Ynison (realtime now-playing). git-версия с extra [ynison].
websockets
betterproto
yandex-music[ynison] @ git+https://github.com/MarshalX/yandex-music-api.git
